<% include ./partials/head %>
    <h1 class="text-center mb-3"><%= title %></h1>
    <div class="container">
	    <table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th>Categories</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% categories.forEach((category) => { %>
		   		<tr>
		    		<td><%= category.title %></td>
		    		<td>
		    			<a href="/manage/categories/edit/<%= category._id %>" class="btn btn-outline-primary">Edit</a>
		    			<button data-id="<%= category._id %>" class="delete_cat btn btn-outline-danger">Delete</button>
		    		</td>
		    	</tr>
		    <% }) %>
		  </tbody>
		</table>
		<a class="btn btn-outline-warning btn-block mt-5" href="/manage/categories/add">Add Category</a>
	</div>

<% include ./partials/footer %>