

a, a:link, a:hover, a:visited, {
  color: black;
  text-decoration: none;
}

#messages {
	margin: 20px;
}

.success { 
	background-color: #c3e6cb;
}

#messages ul {
	padding: 0;
	margin: 0;
}

#messages li {
	list-style: none;
	padding: 10px;
}

.navbar {
	margin: 0;
}

a h1, a p, a h6 {
  color: black;
  text-decoration: none;
}

.col-md-6 {
	border: 3px solid orange;
	height: 450px;
	display: flex;
	align-items: center;
	padding: 20px;
}